@charset "UTF-8";
@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/DancingScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(to bottom, #F2CEAE, #F2DFBB);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    max-width: 900px;
    margin: auto;
}

main {
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 5px 20px #0003;
}

h1 {
    font: italic bold 3em 'Dancing Script', 'Brush Script MT', cursive;
    text-align: center;
    text-shadow: 1px 2px 2px #0004;
}

h2 {
    text-align: center;
}

code {
    background-color: #F2CEAE88;
}

mark {
    background-color: #C5FFB5;
}

img, video, iframe {
    max-width: 100%;
    max-width: 100%;
}

/* Paleta 2 */
/* Color Theme Swatches in Hex */
.Eté-2021-1-hex { color: #594A1C; }
.Eté-2021-2-hex { color: #F2DFBB; }
.Eté-2021-3-hex { color: #40342A; }
.Eté-2021-4-hex { color: #F2CEAE; }
.Eté-2021-5-hex { color: #736356; }

/* Paleta 1 */
/* Color Theme Swatches in Hex */
.Pastels-1-hex { color: #FFEADE; }
.Pastels-2-hex { color: #E8C4B0; }
.Pastels-3-hex { color: #FFE0CF; }
.Pastels-4-hex { color: #E8AD8C; }
.Pastels-5-hex { color: #FFE8DB; }
